# Optionally, set timezone for logs
#TIMEZONE=""

# Set operating mode; defaults to relay
# 'reset' mode will erase all ratings on ListenBrainz and/or LastFM.
# MODE=""

# Uncomment to enable two-way sync
# (sync ratings from LastFM/Listenbrainz to Plex)
# TWO_WAY="true"

# Full Plex server URL including port, i.e. http://192.168.0.1:32400
PLEX_SERVER_URL=""

# Title of the library where music is stored
MUSIC_LIBRARY="Music"

# Threshold to determine a "Loved" track.
# 1 star = 2; 2 stars = 4, etc.
# e.g. LOVE_THRESHOLD=7 would mean any tracks rated 3.5 stars or higher get submitted
LOVE_THRESHOLD=10

# OPTIONAL: Threshold to determine a "Hated" track
# NOTES:
# - Hated tracks are only supported on ListenBrainz
# - This will not effect tracks that have not been rated yet. Therefore, the minimum
#   value is 1 (half a star)
#HATE_THRESHOLD=2

# Obtain these at https://www.last.fm/api/account/create
LASTFM_TOKEN=""  # API key
LASTFM_SECRET=""
LASTFM_USERNAME=""
LASTFM_PASSWORD=""

# ListenBrainz username and token - leave blank if you do not wish to use ListenBrainz
# Obtain token at: https://listenbrainz.org/settings/
LISTENBRAINZ_TOKEN=""
LISTENBRAINZ_USERNAME=""

# Databse file
DATABASE="ratingrelay.db"

# You do not need to set these.
PLEX_CID=
PLEX_TOKEN=

# You can modify this value to set the number of tracks to use during testing
# Default is 10
# TEST_LIMIT=
