services:
  ofelia: # Ofelia is used to run RatingRelay every so often
    container_name: ratingrelay-scheduler
    image: mcuadros/ofelia:latest
    depends_on:
      - ratingrelay
    command: daemon --docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

    labels:
      ofelia.job-run.ratingrelay.schedule: "@every 24h" # how often to run
      ofelia.job-run.ratingrelay.container: "ratingrelay"
      ofelia.job-run.ratingrelay.command: "sh -c 'cd /app && uv run ratingrelay.py'"

  ratingrelay:
    container_name: ratingrelay
    build: .
    image: ratingrelay
    volumes:
      - ./data:/app/data
      - ./config.env:/app/config.env

